@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root
{
    --clr: #222327;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container
{
    animation: transitionIn 2s;
    width: 100%;
    display: inline;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}

.container-2
{
    margin-top: 10px;
}

.navigation
{
    position: static;
    width: 100%;
    height: 100px;
    background: #7586ba;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
}

.navigation ul
{
    display: flex;
    width: 350px;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}

.navigation ul li:hover a .icon
{
    transform: translateY(20px);
}

.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.02em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-10px);
}

.navigation ul li:hover a .text
{
    opacity: 1;
    transform: translateY(-25px);
}