{% extends './plantilla.html' %}

{% block title %} About {% endblock %}

{% block body %}

<div class="card">
    <div class="card-body", style="text-align: center;">
        ¿Que es GHCO Team?
        <br>
        <br>
        GHCO Team es un equipo de desarrollo que se dedica a crear multiples herramientas y aplicaciones para la mejora de la experiencia del usuario
        <br>
        Originalmente GHCO Team fue fundado por SirDevi, un desarrollador novato que sigue aprendiendo sobre el scripting para la mejora de la experiencia de los usuarios
    </div>
</div>

<br>

<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Te interesa ver nuestros proyectos?</h5>
      <p class="card-text">Actualmente estamos desarrollando algunos Bots y aplicaciones para mejorar la experiencia de los miembros de nuestra comunidad, intentamos hacer que estos sean lo mas naturales posible.</p>
      <a href="projects" class="btn btn-primary">Ver proyectos</a>
    </div>
  </div>

{% endblock %}