{% extends './plantilla.html' %}

{% block title %} Contact {% endblock %}    

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">GHCO Team!</h1>
  <p class="lead">Actualmente no disponemos de otro medio de contacto que no sea nuestro servidor de discord, una comunidad en desarrollo que tiene como objetivo ser no solo un servidor de soporte si no una comunidad de las mejores que existan.</p>
  <hr class="my-4">
  <p>Para unirte al servidor oprime el boton "Unirse".</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://discord.gg/EA6EQrkseR" role="button">Unirse</a>
  </p>
</div>

{% endblock %}