{% extends './plantilla.html' %}

{% block title %} Contact {% endblock %}    

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">GHCO Discord Bot</h1>
    <p class="lead">GHCO es un bot de discord destinado a ayudar a los usuarios de discord con sus funciones multiples y de una manera sencilla.</p>
    <hr class="my-4">
    <p>Si deseas saber mas sobre GHCO, haz click en el boton "Website"</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://ghco.weebly.com/" role="button">Website</a>
    </p>
</div>

<div class="jumbotron">
    <h1 class="display-4">GHCO Team Website</h1>
    <p class="lead">GHCO Team Web es la pagina oficial de el equipo de desarrollo GHCO Team y es una pagina web que contiene informacion sobre el equipo, sus integrantes, sus proyectos y sus funciones.</p>
    <hr class="my-4">
    <p>Haz click en el boton de abajo para ir a la pagina principal.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/">Ir a la pagina principal</a>
    </p>
</div>

<div class="jumbotron">
    <h1 class="display-4">Coming Soon</h1>
    <p class="lead">Coming Soon</p>
    <hr class="my-4">
    <p>Coming Soon</p>
</div>

<div class="jumbotron">
    <h1 class="display-4">Coming Soon</h1>
    <p class="lead">Coming Soon</p>
    <hr class="my-4">
    <p>Coming Soon</p>
</div>

<div class="jumbotron">
    <h1 class="display-4">Coming Soon</h1>
    <p class="lead">Coming Soon</p>
    <hr class="my-4">
    <p>Coming Soon</p>
</div>

{% endblock %}