{% extends './plantilla.html' %}

{% block title %} Contact {% endblock %}    

{% block body %}

<h1>Pagina de proyectos del equipo de desarrollo</h1>

<br>

<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        GHCO Discord Bot
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        GHCO es un bot de discord destinado a ayudar a los usuarios de discord con sus funciones multiples y de una manera sencilla.
        <br>
        Si deseas saber mas sobre GHCO<a href="https://ghco.weebly.com/">Haz click aqui.</a>
    </div>
</div>
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        GHCO Team Web
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        GHCO Team Web es la pagina oficial de el equipo de desarrollo GHCO Team y es una pagina web que contiene informacion sobre el equipo, sus integrantes, sus proyectos y sus funciones.
        <br>
        <a href="/">ir a la pagina principal.</a>
    </div>
</div>
<button type="button" class="btn btn-lg btn-primary" disabled>Coming Soon</button>
<button type="button" class="btn btn-lg btn-primary" disabled>Coming Soon</button>
<button type="button" class="btn btn-lg btn-primary" disabled>Coming Soon</button>

{% endblock %}