{% extends './plantilla.html' %}

{% block title %} Contact {% endblock %}    

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">GHCO Team!</h1>
    <p class="lead">Presentamos la carta de GHCO Team, aqui se expresa toda la informacion del equipo GHCO Team en un formato sencillo y comodo de leer.</p>
    <hr class="my-4">
    <p>Fundador del equipo:<br>
        SirDevion</p>
    <hr class="my-4">
    <p>Lider actual del equipo:<br>
        SirDevion</p>
    <hr class="my-4">
    <p>Miembros del equipo:<br>
        SirDevion, Sky</p>
    <hr class="my-4">
    <p>Estado de las postulaciones:<br>
        Abiertas (estas se hacen en el servidor de discord)</p>
    <hr class="my-4">
</div>

{% endblock %}